*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    background-color: black
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.container{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 15px;

}

.logo{
    
    
}

.logo>a{
    
    font-size: 24px;
    font-family: 'Inter' sans-serif;
    
    color: white;
    
}

.menu>ul{
    display: flex;
    gap: 15px;
    
}

.menu>ul>li{
    display: inline-block;
    
    
}
.pages{
    
    color: white;
    font-size: 15px;
    font-family: "Inter", sans-serif;


}
.logi{
    
}

.login{
    
    font-family: "Inter", sans-serif;
    color: white;
    
    
}

.img2{
    display: flex;
    

}

.i2{
    max-width: 1900px;
    max-height: 484px;
}









.prods{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 45px;
    flex-wrap: wrap;
    
}

.prods2{
    display: flex;
    gap: 20px;
    justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    
}

.products{
    display: inline-block;
    
    


}

.img1{
    
    max-width: 260px;
    max-height: 270px;
}

.title{
    display: flex;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    justify-content: center;
}

.price{
    display: flex;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: large;
    justify-content: center;

}

.end{
    background-color: rgb(31, 30, 30);
    width: 1900px;
    height: 300px;
    margin-top: 45px;

}
